*{
margin: 0%;
padding: 0%;
font-family:"poppins";
}

.cabecalho-imagem {
    background-color:#5789da;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
   width: 35%;
}

.cabecalho-imagem{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;      
}

.escola-imagem{
width:  25%;
}

.escola{
    background-image: linear-gradient(#424E61,#4ebf94);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteudo{
width: 35%;
}


